/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700");

@font-face {
  font-family: "Josefin Sans";
  src: url(assets/fonts/JosefinSans-VariableFont_wght.ttf) format("opentype");
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  margin: 0;
}

@media screen and (max-width: 600px){
	h1{
		font-size: 2em;
	}
}
